{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans 'Backlog' %}{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  <li><a href="{% url 'project:index' %}">{% trans 'Projects' %}</a></li>
  <li><a href="{% url 'project:detail' project.id %}">{{ project.title }}</a></li>
  <li><span>{% trans 'Backlog' %}</span></li>
{% endblock %}


{% block content %}
  {% include 'project/project_navbar.html' with backlog=True %}
  <h2 class="inline">Backlog | Project - {{ project.title }}</h2>

  <a href="{% url 'project:issue_create' project.id %}" class="btn btn-primary pull-right"
     role="button">Create issue</a>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Id</th>
        <th>Author</th>
        <th>Title</th>
        <th>Status</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      {% for issue in issues %}
        <tr>
          <td>{{ issue.id }}</td>
          <td>{{ issue.author }}</td>
          <td><a href="{% url 'project:issue_detail' project.id issue.id %}">
            {{ issue.title }}</a></td>
          <td>{{ issue.status }}</td>
          <td><a href="{% url 'project:issue_edit' project.id issue.id %}">
            <span class="glyphicon glyphicon-pencil"></span></a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
