{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Project detail' %}{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  <li><a href="{% url 'project:index' %}">{% trans 'Projects' %}</a></li>
  <li><a href="{% url 'project:detail' project.id %}">{{ project.title }}</a></li>
{% endblock %}

{% block content %}
  {% include 'project/project_navbar.html' with detail=True %}

  <p>Description: {{ project.description }}</p>
  <p>Start Date: {{ project.start_date }}</p>
  <p>End Date: {{ project.end_date }}</p>
  <a class="btn btn-default" href="{% url 'project:update' project.id %}"> Edit </a>
{% endblock %}