{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans 'Team' %}{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  <li><a href="{% url 'project:index' %}">{% trans 'Projects' %}</a></li>
  <li><a href="{% url 'project:detail' project.id %}">{{ project.title }}</a></li>
  <li><span>{% trans 'Team' %}</span></li>
{% endblock %}

{% block content %}
{% include 'project/project_navbar.html' with team=True %}
<h2>Team list | Project - {{ project_id }}</h2>
<ul>
  {% for team in team_list %}
    {% if team.employees %}
      {% for employee in team.employees.all %}
        <li><strong>{{ employee.first_name }} {{ employee.last_name }}</strong></li>
      {% endfor %}
    {% else %}
    <p>no team on project</p>
    {% endif %}
  {% endfor %}
</ul>
{% endblock %}