{% extends 'workflow/project_navbar.html' %}
{% load staticfiles %}

{% block content %}
  {{ block.super }}
  <h2>Backlog | Project - {{ project.title }}</h2>
  <div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Author</th>
        <th>Title</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for issue in issues %}
      <tr>
        <td>{{ issue.id }}</td>
        <td>{{ issue.author }}</td>
        <td><a href="{% url 'workflow:issue' project.id issue.id %}">
            {{ issue.title }}</a></td>
        <td>{{ issue.status }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock %}
