{% extends 'workflow/project_navbar.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <form>
    <h2>Issue {{ issue.id }} | Project - {{ issue.project_id }}</h2>
    <p>Sprint: {{ issue.sprint }}</p>
    <p>Author: {{ issue.author }}</p>
    <p>Employee: {{ issue.employee }}</p>
    <p>Title:</p>
    <input type="text" value="{{ issue.title }}">

    <p>Description:</p>
    <textarea></textarea>

    <p>Status:</p>
    <select>
      <option>{{ issue.get_status_display }}</option>
        {% for ch in issue.choices %}
      <option>{{ ch }}</option>
        {% endfor %}
    </select><br><br>
    <input type="submit" value="Save">
  </form>
</div>
{% endblock %}