{% extends 'workflow/project_navbar.html' %}

{% block content %}
  <p>This is issue and it has next params:</p>
  <p>Title: {{ issue.title }}</p>
  <p>Description: {{ issue.description }}</p>
  <p>Status: {{ issue.status }}</p>
  <p>Estimation: {{ issue.estimation }}h</p>
  <p>Author: {{ issue.author }}</p>
  <p>Sprint: {{ issue.sprint }}</p>
  <p>Employee: {{ issue.employee }}</p>
  <a href="{% url 'workflow:edit_issue' project_id issue_id %}"
     class="btn btn-default">Edit this issue</a>
{% endblock %}

