{% extends 'workflow/project_navbar.html' %}
{% load staticfiles %}

{% block styles %}
    {{block.super}}
    <link rel="stylesheet" type="text/css" href="{% static 'workflow/style.css' %}" />
{% endblock %}

{% block content %}
    {{ block.super }}
        <h1 style="margin: 30px">Update project</h1>
        <div style="margin: 30px">
        <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary" value="Save">
        </form>
        <p><a href="{% url 'workflow:project_delete' project.id %}"> Delete </a></p>
        </div>
{% endblock %}