{% extends 'base.html' %}

<div class="container">
  {% block content %}
    <h2>{{ project.title }} </h2>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class="active"><a
              href="{% url 'workflow:project_detail' 1 %}">Project
            Detail</a></li>
          <li><a href="{% url 'workflow:sprint' 1 1 %}">Sprint</a>
          </li>
          <li><a href="{% url 'workflow:backlog' 1 %}">Backlog</a>
          </li>
          <li><a href="{#% url 'workflow:spints_list' 1 %#}">History</a>
          </li>
          <li><a href="{% url 'workflow:team' 1 %}">Team</a></li>
        </ul>
      </div>
    </nav>
  {% endblock %}
</div>



