{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block content %}
  {{ block.super }}
  <a href="{% url 'workflow:project_create' %}">Create project</a>

  <table class="table table-hover">
      <thead>
      <tr>
        <th>Project title</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Status</th>
      </tr>
      </thead>
  <tbody>
  {% for project in project_list %}

      <tr>
        <td><a href="{% url 'workflow:project_detail' project.id%}">{{ project.title }}</a>
        </td>
        <td>{{ project.start_date|date:"d.m.Y" }}</td>
        <td>{{ project.end_date|date:"d.m.Y" }}</td>
        <td>{{ project.status }}</td>
      </tr>
  {% endfor %}
  </tbody>
  </table>
{% endblock %}