{% extends 'base.html' %}
{% load staticfiles %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css"
        href="{% static 'workflow/style.css' %}"/>
{% endblock %}

{% block content %}

  <div class="container">

    <form action="{% url 'workflow:registration' %}" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-3">
          <h2>First name</h2>
          <input name="first_name" type="text" placeholder="First name"
                 required>
        </div>
        <div class="col-md-3">
          <h2>Last name</h2>
          <input name="last_name" type="text" placeholder="Last name" required>
        </div>

      </div>

      <div class="row">
        <div class="col-md-3">
          <h2>Email</h2>
          <input name="email" type="text" placeholder="Email" required>
        </div>
        <div class="col-md-3">
          <h2>Confirm Email</h2>
          <input type="text" placeholder="Confirm Email" required>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <h2>User name</h2>
          <input name="username" type="text" placeholder="User name" required>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <h2>Password</h2>
          <input name="password" type="text" placeholder="Password" required>
        </div>
        <div class="col-md-3">
          <h2>Confirm Password</h2>
          <input type="text" placeholder="Confirm Password" required>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <input type="submit" value="Register">
        </div>
      </div>
    </form>


  </div>
{% endblock %}