{% extends 'workflow/project_navbar.html' %}

{% block content %}
  <p>this is sprint and it has next params:</p>
  <p>Sprint Title: {{ object.title }}</p>
  <p>Start_date: {{ object.start_date }}</p>
  <p>End_date: {{ object.end_date }}</p>

  <div class="container panel panel-default">
    <div class="inline panel-body"> NEW ISSUES
      <div>
        {% for new_issue in new_issues %}
          <a href="
{% url 'workflow:issue' new_issue.project_id new_issue.id %}">
            {{ new_issue.title }}</a><br>
        {% endfor %}
      </div>
    </div>
    <div class="inline panel-body"> ISSUES IN_PROGRESS
      <div>
        {% for progress_issue in in_progress_issues %}
          <a href="
{% url 'workflow:issue' progress_issue.project_id progress_issue.id %}">
            {{ progress_issue.title }}</a><br>
        {% endfor %}
      </div>
    </div>
    <div class="inline panel-body"> RESOLVED ISSUES
      <div>
        {% for resolved_issue in resolved_issues %}
          <a href="
{% url 'workflow:issue' resolved_issue.project_id resolved_issue.id %}">
            {{ resolved_issue.title }}</a><br>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}
