{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %} Employee {{ employee.id }}{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  <li>
    <a href="{% url 'workflow:employee-index' %}">{% trans 'Employee' %}</a>
  </li>
  <li>
    <span>{{ employee.id }}</span>
  </li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header"><h1>{{ employee.get_full_name }}</h1></div>
      <div class="tabbable">
        <ul class="nav nav-tabs" id="myTab">
          <li class="active">
            <a data-toggle="tab" href="#logs">
              Logs
              <span class="badge badge-danger">{{ employee.issuelog_set.count }}</span>
            </a>
          </li>
          <li>
            <a data-toggle="tab" href="#issues">
              Issues
              <span class="badge badge-danger">{{ employee.employee_issue_set.count}}</span>
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="logs" class="tab-pane fade in active">

            <table id="simple-table" class="table  table-bordered table-hover">
              <thead>
              <tr>
                <th>Issue</th>
                <th>Labor costs</th>
                <th>Note</th>
              </tr>
              </thead>
              <tbody>
              {% for log in employee.issuelog_set.all %}
                <tr>
                  <td><a href=".">{{ log.issue.title }}</a></td>
                  <td><span>{{ log.labor_costs }}</span></td>
                  <td><span>{{ log.note }}</span></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>

          </div>

          <div id="issues" class="tab-pane fade">
            <table id="simple-table" class="table  table-bordered table-hover">
              <thead>
              <tr>
                <th>Author</th>
                <th>Title</th>
                <th>Status</th>
                <th>Estimation</th>
                <th>Project</th>
                <th>Sprint</th>
              </tr>
              </thead>
              <tbody>
              {% for issue in employee.employee_issue_set.all %}
                <tr>
                  <td><a href=".">{{ issue.author }}</a></td>
                  <td><a href=".">{{ issue.title }}</a></td>
                  <td><span>{{ issue.status }}</span></td>
                  <td><span>{{ issue.estimation }}</span></td>
                  <td><a href=".">{{ issue.project.title }}</a></td>
                  <td><a href=".">{{ issue.sprint.title }}</a></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
