{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}{% endblock %}
        </title>
        {% block styles %}
            <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />
        {% endblock %}
    </head>
    <body>
        <header>
            <img class="logo" src="{% static 'images/jiller.png' %} ">
            <nav></nav>
        </header>
        <h2>This is a base template</h2>
        <div class="container">
        {% block content %}{% endblock %}
        </div>
        <footer></footer>
        {% block scripts %}{% endblock %}
    </body>
</html>